.App {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #0077cc;
  color: #fff;
}

td:last-child {
  text-align: center;
}

button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1rem;
}

form button[type='submit'] {
  background-color: green;
}

form button[type='button'] {
  background-color: red;
}
